## 1. 연습 데이터 생성

In [6]:
import pandas as pd
import numpy as np
from numpy.random import randn

# 10개의 행과 두 개의 열 생성
np.random.seed(1234)
df = pd.DataFrame(randn(10, 2), columns=['A', 'B'])
df.head()

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685

## 2. 데이터 선택

In [15]:
# 열 선택
df[["A"]]

# 행 선택
df[0:5]

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685

## 3.loc를 이용

In [22]:
df.loc[0:7, ["A", "B"]]

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685
5  1.150036  0.991946
6  0.953324 -2.021255
7 -0.334077  0.002118

In [24]:
df.loc[:, ["A"]]

          A
0  0.471435
1  1.432707
2 -0.720589
3  0.859588
4  0.015696
5  1.150036
6  0.953324
7 -0.334077
8  0.405453
9  1.321158

In [25]:
df.loc[3:8]

          A         B
3  0.859588 -0.636524
4  0.015696 -2.242685
5  1.150036  0.991946
6  0.953324 -2.021255
7 -0.334077  0.002118
8  0.405453  0.289092

In [27]:
df.loc[3:3]

          A         B
3  0.859588 -0.636524

## 4. iloc를 이용한 데이터 선택

In [35]:
# df.iloc[0:7, ["A"]] _ 에러 발생

df.iloc[0:10, 0:2]

          A         B
0  0.471435 -1.190976
1  1.432707 -0.312652
2 -0.720589  0.887163
3  0.859588 -0.636524
4  0.015696 -2.242685
5  1.150036  0.991946
6  0.953324 -2.021255
7 -0.334077  0.002118
8  0.405453  0.289092
9  1.321158 -1.546906

In [38]:
# 행 선택
df.iloc[3:8]

# 단일 행 선택
df.iloc[3:4]

          A         B
3  0.859588 -0.636524

## 5. Query를 이용한 데이터 선택

In [40]:
df.query("A >= 0.5")

          A         B
1  1.432707 -0.312652
3  0.859588 -0.636524
5  1.150036  0.991946
6  0.953324 -2.021255
9  1.321158 -1.546906

### query와 동일한 slice표현

In [41]:
df[df.A < 0.5]

          A         B
0  0.471435 -1.190976
2 -0.720589  0.887163
4  0.015696 -2.242685
7 -0.334077  0.002118
8  0.405453  0.289092

### 복수조건

In [44]:
df.query("A < 0.5 and B <0.5")

          A         B
0  0.471435 -1.190976
4  0.015696 -2.242685
7 -0.334077  0.002118
8  0.405453  0.289092